* {
    margin: 0;
    padding: 0;
}
body {
    //background-image: radial-gradient(rgb(228, 168, 41), #F2DA86);
    background: radial-gradient(circle at top, #ca9f42 0%, beige 100%);
}
/* *********** Header *********** */
.header {
    height: 800px;
    background-image:
    linear-gradient(to right bottom, rgba(212, 106,106,0.1), rgba(242,218,134,0.7)), 
    url("../images/couverture.JPG");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,  100% 0, 100% 85%, 0 100%);
    h1 {
        font-size: 50px;
        letter-spacing: 12px;
        color: #fff;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
}
/* *********** Citation *********** */
#quote {
    text-align: center;
    margin: 20px;
    padding: 80px;
    q {
        font-size: 25px;
        font-weight: inherit;
        font-style: italic;
    }
}

/* *********** Menu de navigation *********** */
@mixin iconNavigation {
    content: '';
    width: 48px;
    height: 2px;
    background: #333;
    position: absolute;
    left: 0;
    transition: all .2s;
}


.navigationCheckbox {
    display: none;
}
.navigationBg {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    position: fixed;
    top: 72px;
    right: 104px;
    background-image: radial-gradient(rgb(228, 168, 41), #F2DA86);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigationBtn {
    background-color: beige;
    height: 112px;
    width: 112px;
    position: fixed;
    top: 64px;
    right: 96px;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}
.navigationIcon {
    position: relative;
    margin-top: 56px;
    width: 48px;
    height: 2px;
    background: #333;
    display: inline-block;
    &::before {
        @include iconNavigation();
        top: -12.8px;
    }
    &::after {
        @include iconNavigation();
        top: 12.8px;
    }
}
.nav {
    height: 100vh;
    position: fixed;
    width: 0;
    opacity: 0;
    z-index: 1500;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigationListe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    width: 100%;
}
.liens {
    display: inline-block;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.navigationCheckbox:checked ~ .navigationBg {
    transform: scale(80);
}
.navigationCheckbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
}
.navigationCheckbox:checked + .navigationBtn .navigationIcon {
    background-color: transparent;
    &::before {
        top: 0;
        transform: rotate(135deg);
    }
    &::after {
        top: 0;
        transform: rotate(-135deg);
    }
}

/* *********** Container Card *********** */
@mixin cardBackFront {
    content: '';
    width: 340px;
    height: 480px;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border: 2px solid white;
    border-radius: 20px; 
}

main {
    margin: 20px 50px; 
    text-align: center;
    h2 {
        font-size: 30px;
        padding: 30px;
    }
    p {
        font-size: 20px;
        padding: 20px;
        font-style: italic;
    }
}
.container {
    display: flex;
    justify-content: space-around;
    
}
.card {
    cursor: pointer;
    width: 340px;
    height: 480px;
    border-radius: 20px !important;
    margin-bottom: 50px;
    margin-top: 40px;
    background-color: rgb(228, 168, 41, 0) !important;
    border: none !important;
    .front {
        @include cardBackFront();
        transform: perspective(600px) rotateY(0deg);
        img {
            height: 420px;
            width: 340px;
            border-radius: 20px 20px 0 0 ;
            object-fit: cover;
            padding-right: 4px;
        }
        h3 {
            text-align: center;
            margin-top: 18px;
            font-size: 15px;
        }
    }
    .back {
        @include cardBackFront();
        background-image: radial-gradient(rgb(228, 168, 41), #F2DA86);
        transform: perspective(600px) rotateY(180deg);
        border-radius: 20px;
        .content {
            color: #2c3e50;
            text-align: center;
            width: 100%;
            margin-top: 200px;
            a {
                color: black;
                text-decoration: none;
                button {
                    padding: 15px;
                    background-color: #DAF7A6;
                    border-radius: 10px; 
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: bold;
                    &:hover {
                        background-color: #dbf7a6af;
                    }
                }
                
            }
            
        }
    }  
    &:hover .front {
        -webkit-transform: perspective(600px) rotateY(-180deg);;
        transform: perspective(600px) rotateY(-180deg);
    }
    &:hover .back {
        -webkit-transform: perspective(600px) rotateY(0deg);
        transform: perspective(600px) rotateY(0deg);
    }
}



/* *********** Tous les albums *********** */

.albumTitle {
    text-align: center;
    font-size: 25px;
    margin: 40px 0;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.cardAlbum {
    max-width: 300px !important;
    max-height: 300px !important;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    img {
        width: 300px;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
        transition: .5s;
        cursor: pointer;
    }
    &:hover img {
        opacity: 0.3;
    }
    .text {
    background: #4caf50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    opacity: 0;
    border-radius: 10px;
    }
    &:hover .text {
        opacity: 1;
    }
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}

/* *********** Biographie *********** */
.bio {
    border: 2px solid black;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    img {
        max-width: 500px;
        max-height: 500px;
        border-radius: 50%;
        margin: 20px auto;
    }
    .bioContent {
        margin: auto;
        h2 {
            text-align: center;
        }
    }
}

/* *********** Media Queries *********** */

@media all and (max-width: 1110px) {
    @mixin iconNavigationResponsive {
        content: '';
        width: 35px;
        height: 2px;
        background: #333;
        position: absolute;
        left: 0;
        transition: all .2s;
    }
    // .header {
    //     clip-path: polygon(0 0,  100% 0, 100% 100%, 0 100%);
    // }
    .navigationBtn {
        height: 75px;
        width: 75px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .navigationBg {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 25px;
        right: 25px;
        overflow: hidden;
    }
    .navigationIcon {
        position: relative;
        margin-top: 38px;
        width: 35px;
        height: 2px;
        background: #333;
        display: inline-block;
        &::before {
            @include iconNavigationResponsive();
            top: -10.8px;
        }
        &::after {
            @include iconNavigationResponsive();
            top: 10.8px;
        }
    }
    .liens {
        margin-top: 16px;
        font-size: 20px; 
    }
    .nav {
        position: absolute;
        top: 20px;
        left: 10px;
    }
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-left: auto;
        margin-right: auto;
    }
    .header{
        height: 350px;
        clip-path: polygon(0 0,  100% 0, 100% 100%, 0 100%);
        h1{
            font-size: 20px;
            letter-spacing: 2px;
            color: #fff;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    } 
    
}
